.div.dropdown
  %button.btn-sm.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
    %i.fa.fa-wrench
    %span.fa.fa-caret-down
  %ul#style-edit-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu1"}
    %li.even
      = link_to product_set_style_duplicate_path(product_set, style), method: :post do
        %i.fa.fa-files-o
        %span Duplicate
    %li.odd
      = link_to edit_product_set_style_path(product_set, style, inline: inline), remote: true  do
        %i.fa.fa-pencil
        %span Edit
    %li.even
      = link_to product_set_style_path(product_set, style), method: :delete, data: {confirm: "Delete style: #{style.vendor_style_number}?"}  do
        %i.fa.fa-trash-o
        %span Delete
