.div.dropdown
  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
    %i.fa.fa-wrench
    %span.fa.fa-caret-down
  %ul#style-edit-dropdown.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
    %li.even
      = link_to appointment_style_duplicate_path(appointment, style), method: :post do
        %i.fa.fa-files-o
        %span Duplicate
    %li.odd
      = link_to edit_appointment_style_path(appointment, style, inline: inline), remote: true  do
        %i.fa.fa-pencil
        %span Edit
    %li.even
      = link_to appointment_style_path(appointment, style), method: :delete, data: {confirm: 'Are You Sure?'}  do
        %i.fa.fa-trash-o
        %span Delete
