<div class="row form-group">
	<div class="col-sm-6">
		<label>Style Name</label>
		<%= form.text_field :name, :placeholder => 'ex: Style Name', :class => 'form-control' %>
	</div>
	<div class="col-sm-6">
		<label>Taxonomy</label>
		<%= form.text_field :taxonomy, :placeholder => 'ex: Shirt', :class => 'form-control', :required => true%> <%#  %>
	</div>
</div>
<div class="row form-group"> 
	<div class="col-sm-6">
		<label>Vendor Style Number</label>
		<%= form.text_field :vendor_underscore_style_number, :class => 'form-control', :required => true %>
	</div>
</div>
<div class="form-group">
	<%= form.submit %>
</div>