.welcome-bg-image

.row
  .col-sm-6.col-sm-offset-6
    .panel.panel-welcome
      .panel-body
        %h2
          Style Scout
        %p
          Style scout is a blah blah back office blah. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

.row
  = link_to new_user_registration_path do
    .col-md-8.col-md-offset-2
      .btn.btn-primary.btn-block.btn-lg
        Get Started