.welcome-bg-image

.row
  .col-sm-6.col-sm-offset-6
    .panel.panel-welcome
      .panel-body
        %h2
          Solutions
        %h3 Easy and Sane Product Sourcing
        %p
          Style Scout is a product sourcing and assortment management tool designed specifically
          for fashion industry buyers, retailers, and planners.
.row
  = link_to new_user_registration_path do
    .col-md-8.col-md-offset-2
      .btn.btn-primary.btn-block.btn-lg.not-logged-in-button
        Get Started
