.welcome-bg-image

.row
  .col-sm-8
    .panel.panel-welcome
      .panel-body
        %h1 Product Sourcing that works
        %p.large
          Style Scout is a product sourcing and assortment management tool designed specifically
          for fashion industry buyers, retailers, and planners.
        %ul
          %h3
            %i.fa.fa-mobile.fa-lg
            Easy Product Sourcing
          %p
            Add new products on the fly with mobile-optimized photo uploading. Review and update
            products throughout the sourcing process.
          %h3
            %i.fa.fa-calendar-check-o
            Assortment Management
          %p
            Make educated buying decisions with easy insight into the holistic vision of product
            collections.
          %h3
            %i.fa.fa-usd
            Budget Planning
          %p
            Keep track of your order costs and profit potential with easy-to-follow monthly budget
            breakdown and markup data.
  / .col-sm-6
  /   .panel
  /     .panel-body
  /       = image_tag 'style_index.png', style: 'max-width: 100%;';

.row
  = link_to new_user_registration_path do
    .col-md-8.col-md-offset-2
      .btn.btn-primary.btn-block.btn-lg.get-started-button
        Get Started
