<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Enter New Product Set
			</div>
			<div class="panel-body">
				<%= form_for @product_set, url: product_sets_path, method: :post do |f| %>
					<%= render partial: 'shared/product_sets/form', locals: {form: f} %>
				<% end %>
			</div>
		</div>
	</div>
</div>
