.card
  %table{style: 'width:100%'}
    %tr
      %td
        %small.text-muted
          Incomplete Appointments:
      %td
        %h3.no-margin.text-right
          =@dashboard_stats[:incomplete_appointments].count