.card.card-row
  %table{style: 'width:100%'}
    %tr{data:{placement: "bottom"},"data-toggle": "tooltip", title: "Incomplete Styles are Created or Pending"}
      %td
        %small.text-muted
          Incomplete Styles
      %td
        %h3.no-margin.text-right
          = @dashboard_stats[:incomplete_styles].count
