.card.card-row
  .form-group
    %small.text-muted
      Merchant Month Period
  .form-group
    = form_tag root_path, method: :get do
      %select.form-control{name: 'merch_month', onchange: "this.form.submit()"}
        = options_for_merch_date_picker(params)

  %h5 Period Start:
  .mark
    = start_of_period(params)

  %h5 Period End:
  .mark
    = end_of_period(params)