.card
  %small.text-muted
    =link_to 'Total Budget', budgets_path
  .total-budget
    = number_to_currency(@budget[:total])
  %small.text-muted
    - if @budget[:total].zero?
      = link_to 'Add New', new_dashboard_budget_path(params), remote: :true
