<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <%- if current_user.administrator? %>
      <li role="presentation" class="active"><a href="#style-categories" aria-controls="home" role="tab" data-toggle="tab">Style Categories</a></li>
    <% end %>

    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <%- if current_user.administrator? %>
      <div role="tabpanel" class="tab-pane active" id="style-categories">
        <%= render partial: "shared/categories/index" %>
      </div>
    <% end %>

    <div role="tabpanel" class="tab-pane" id="profile">
      <%= render partial: "shared/users/profile_config" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="users">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-group">
          <%- current_company.users.each do |user| %>
           <%- next if user == current_user %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-6">
                    <%= link_to user.name, edit_settings_user_path(user), remote:true%>
                </div>
                <div class="col-md-6">
                  <%= user.administrator? ? "Admin" : "Not Admin" %>
                </div>
              </div>
            </li>
          <%- end %>
          </ul>
        </div>
        <div class="col-sm-6">
          <div id="user-form-container">
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      sup2222 sup sup
    </div>
  </div>

</div>