= form_for :attachment, url: product_set_style_attachments_path(@product_set, @style), method: :post do |f|
  = f.file_field :photo, type: 'file', class: 'hidden'
  .col-md-4
    .well.photo-upload-well
      .ghost-photo-input-group.hidden
        %label.btn.btn-success.btn-file.btn-block
          Add photo
          %input{type:'file', name: 'style[photos][]', style: 'display: none'}
        %img{src:'#'}
      .row
        .col-sm-12.photo-upload-fields
          .photo-input-group
            %label.btn.btn-success.btn-file.btn-block{style: 'margin-bottom: 15px;'}
              Add photo
              %input{type:'file', name: 'style[photos][]', style: 'display: none'}
            %img{src:'#'}
      .row
        .col-sm-6
          = f.submit 'Upload', class: 'btn btn-primary'
        .col-sm-6.text-right
          = link_to 'Cancel', product_set_style_path()
