<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header modal-header-primary">
      Edit Style: <%= @style.vendor_style_number %>
    </div>
    <div class="modal-body">
      <%= form_for @style, url: product_set_style_path(@product_set, @style), method: :put do |f| %>
        <%= hidden_field_tag "inline", @inline %>
        <%= render partial: 'shared/styles/form', locals: {form: f} %>
      <% end %>
    </div>
  </div>
</div>
