<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Edit Style
			</div>
			<div class="panel-body">
				<%= form_for @style, url: appointment_style_path(@appointment, @style), method: :put do |f| %>
					<%= render partial: 'shared/styles/form', locals: {form: f} %>
					<div>
						<%= link_to "Delete", appointment_style_path(@appointment, @style), method: :delete, class: "btn btn-danger pull-right" %>
					</div>
					<dir>
						<%= link_to "Cancel", appointment_style_path%>
					</dir>
				<% end %>
			</div>
		</div>
	</div>
</div>