<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Enter New Style for 
				<%= @appointment.name %>
			</div>
			<div class="panel-body">
				<%= form_for @style, url: appointment_styles_path(@appointment), method: :post do |f| %>
					<%= render partial: 'shared/styles/form', locals: {form: f} %>
				<% end %>
			</div>
		</div>
	</div>
</div>