<div class="list-group-item">
    <%= form_for current_user.profile_config, url: users_profile_config_path(current_user.profile_config), method: :put do |f| %>
      <div class='form-group'>
        <label>
            <%= f.check_box :default_home_my_appointments %>
            Home Page Only Shows My Appointments
        </label>
      </div>
    <% end %>
</div>