#created-style-div {
  overflow-y: scroll;
  height: 300px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px;
}

#style-selection-bar {
  background: #efefef;
}