// Place all the styles related to the Product Sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.highlight:hover {
  position: relative;
  transition: all .2s ease-out;
}

div.highlight:hover {
  box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, .1);
  right: 1px;
  bottom: 1px;
}

span.label {
  font-weight: 200;
}

/* Updating style styles */

.update-style-success {
  animation-name: background-color-change;
  animation-duration: 2.0s;
}

.update-style-success.created {
  animation-name: background-color-change-created;
}

.update-style-success.deleted,
.update-style-success.cancelled {
  animation-name: background-color-change-deleted
}

@-webkit-keyframes background-color-change {
    0% {background-color: transparent; }
    10% {background-color: #dff0d8 ;}
    100% {background-color: transparent ;}
}

@-webkit-keyframes background-color-change-created {
    0% {background-color: transparent; }
    10% {background-color: #dff0d8 ;}
    100% {background-color: transparent ;}
}

@-webkit-keyframes background-color-change-deleted {
    0% {background-color: transparent; }
    10% {background-color: #f2dede;}
    100% {background-color: transparent ;}
}

@-webkit-keyframes background-color-change-cancelled {
    0% {background-color: transparent; }
    10% {background-color: #f2dede;}
    100% {background-color: transparent ;}
}
