.not-logged-in{
  z-index: 1;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.not-logged-in .navbar-brand{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  color: #fff;
  text-shadow: 0 0 5px black;
  padding: 35px 35px;
}

p.large{
  font-size: 21px;
}

p.welcome-page{
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

h1.welcome-page,h3.welcome-page{
  font-family: 'Open Sans';
}

h3.welcome-page{
  margin-left: -20px;
}

.welcome-bg-image{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100% ;
  background-image: image-url('welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.welcome-bg-image:after{
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 54%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 54%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 54%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  content: '';
  transition: all 1s;
}

.panel-welcome{
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
}

#log-in-button{
  font-family: 'Open Sans';
  color: #fff;
  font-size: large;
  text-shadow: 0 0 5px black;
  &:hover{
    color: #777;
  }
}

.get-started-button{
  font-family: 'Open Sans';
  background: rgba(51,69,113,0.8);
  color: rgba(255,255,255,1);
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
  &:hover{
    background: rgba(51,69,113,1);
    color: rgba(255,255,255,1);
  }
}
