<div class='well well-sm'>
    <div class="row">
        <%- appointment.styles.order('created_at').each do |style| %>
            <div class="col-sm-6 col-md-4">
                <%= link_to appointment_style_path(appointment, style) do %>
                    <div class="thumbnail", style="margin-bottom:25px;">
                        <div class="text-center">
                            <%- if style.default_photo %>
                                <%= image_tag style.default_photo('medium'), style: "height: 200px; max-width: 100%;" %>
                            <%- else %>
                                <i class="fa fa-file-image-o fa-5x", style="padding: 65px;"></i>
                            <%- end %>
                        </div>
                        <div class="caption text-center">
                            <h4>
                                <%=  style.vendor_style_number %>
                            </h4>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>