<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-overflow">
                <div class="half-wide">
                    Edit Appointment
                </div>
                <div class="half-wide text-right">
                    <%= link_to appointment_path(@appointment), method: :delete, data: {confirm: 'Are You Sure?'}  do %>
                        <i class="fa fa-trash-o fa-lg"></i>
                    <% end %>
                </div>
            </div>
            <div class="panel-body">
                <%= form_for @appointment, url: appointment_path(@appointment), method: :put do |f| %>
                    <%= render partial: 'shared/appointments/form', locals: {form: f} %>
                    <div>
                        <%= link_to "Cancel", appointment_path%>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>