<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Edit Appointment
			</div>
			<div class="panel-body">
				<%= form_for @appointment, url: appointment_path(@appointment), method: :put do |f| %>
					<%= render partial: 'shared/appointments/form', locals: {form: f} %>
					<div>
						<%= link_to "Cancel", appointment_path%>
						<%= link_to "Delete", appointment_path(@appointment), method: :delete, class: "btn btn-danger pull-right" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>