<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Appointments
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item table-header">
						<div class="row">
							<div class="col-xs-2">
								Name
							</div>
							<div class="col-xs-2">
								Number of Styles
							</div>
							<div class="col-xs-1">
								Buyer
							</div>
							<div class="col-xs-1">
								Date
							</div>
							<div class="col-xs-1">
								Location
							</div>
							<div class="col-xs-2">
								Average IMU %
							</div>
							<div class="col-xs-3">
							</div>
						</div>
					</li>
					<%- @appointments.each do |appointment| %>
						<li class="list-group-item">
							<div class="row">
								<div class="col-xs-2">
									<%= link_to appointment.name, appointment_path(appointment) %>
								</div>
								<div class="col-xs-2">
									<%= appointment.styles.length %>
								</div>
								<div class="col-xs-1">
									need to create	 this
								</div>
								<div class="col-xs-1">
									need to create this
								</div>
								<div class="col-xs-1">
									Bakersfield
								</div>
								<div class="col-xs-2">
									10000%
								</div>
								<div class="col-xs-3 text-right">
									<%= link_to "Edit", edit_appointment_path(appointment) %>
								</div>
							</div>
						</li>
					<% end %>
				</ul>
<!-- 				<div class="alert alert-success">
					Total: <%= @total %>
				</div> -->
			</div>
		</div>
	</div>
</div>