<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Enter New Appointment
			</div>
			<div class="panel-body">
				<%= form_for @appointment, url: appointments_path, method: :post do |f| %>
					<%= render partial: 'shared/appointments/form', locals: {form: f} %>
				<% end %>
			</div>
		</div>
	</div>
</div>