.welcome-bg-image

.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-welcome
      .panel-body
        %h1.welcome-page.text-center Product Sourcing Made Easy
        %p.large.welcome-page.text-center
          Style Scout is a product management tool designed specifically
          for fashion industry buyers, planners, and retailers.
        %hr
        %ul
          %h3.welcome-page
            %i.fa.fa-mobile.fa-lg
            Easy Product Tracking
          %p.welcome-page
            Add new products on the fly while at tradeshows and showroom appointments. Save photos,
            pricing data, and more!
          %h3.welcome-page
            %i.fa.fa-calendar-check-o
            Assortment Management
          %p.welcome-page
            Review products you save at tradeshows and showrooms with easy filtering and sorting.

.row
  = link_to new_user_registration_path do
    .col-md-4.col-md-offset-4
      .btn.btn-primary.btn-lg.btn-block.get-started-button
        Start Your Free Trial Now!
